{
  "extends": "standard",
  "parserOptions": {
      "sourceType": "script"
  },
  "env": {
      "node": false,
      "browser": true
  },
  "rules": {
    "semi": [2, "always"],
    "indent": ["error", 4],
    "one-var": 0
  }
}
